html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  margin: 10px 0px;
  text-decoration: underline;
}

fieldset {
  margin: 5px;
  border: 1px dashed black;
}

#vue-app {
  /* Positioning */
  position: absolute;
  top: 10px;
  left: 10px;
  margin-right: 90%;

  display: flex;
  flex-direction: column;
}

.side-container {
  padding: 10px;

  /* Design*/
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.749);
  box-shadow: 0 0 20px white;
  border-radius: 5px;
}

.dimmed {
  filter: opacity(20%);
  -webkit-filter: opacity(20%);
}

#hide-show {
  background-image: url("https://www.flaticon.com/svg/vstatic/svg/3388/3388848.svg?token=exp=1616485957~hmac=0f325ca357f01b5be81ef9dc44ce1369");
  background-size: 50px 50px;
  width: 50px; 
  height: 50px;

  background-color: black;
}
